body{
    font-family: 'Arial', sans-serif;  
}


.secciones {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:  white;
    padding: 10px;
}

.clicka  {
    text-decoration: none;
    color: #A00E2C;
    padding: 10px;
    border: 1px solid  #A00E2C;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.secciones a:hover {
    background-color: #AA5E70;

}


.bar{
    height :100px;
    width:100px;
}

.t{
    width: 800px; /* Ajusta el ancho del contenedor izquierdo según tus necesidades */
      background-color: #f0f0f0;
      padding: 20px;
      float: right; /* Coloca el contenedor a la izquierda */
}

.cont-ph{
    width: 800px; /* Ajusta el ancho del contenedor izquierdo según tus necesidades */
    padding: 20px;
    float: left; /* Coloca el contenedor a la izquierda */
    } 

    .img10{
        width:1858px;
        background-color: #8D0A0A;
        height:200px;
    }
p{
    text-align: justify;
}

.img12{
    width:200px;
    height:200px;
    border-radius:50%;

}
.img13{
    width:200px;
    height:200px;
    border-radius:50%;

}
.img14{
    width:200px;
    height:200px;
    border-radius:50%;

}
footer{
    background-color: #DBECED;
}

.img-ed{
    height:200px;
    width:1853px;
}