
body{
    font-family: 'Arial', sans-serif;  
}

.secciones {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:  white;
    padding: 10px;
}

.clicka  {
    text-decoration: none;
    color: #A00E2C;
    padding: 10px;
    border: 1px solid  #A00E2C;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.secciones a:hover {
    background-color: #AA5E70;

}

.txt-contenedor{
    width: 1100px; /* Ajusta el ancho del contenedor izquierdo según tus necesidades */
      background-color: white;
      padding: 20px;
      float: left; /* Coloca el contenedor a la izquierda */
}

li{
    text-align: justify;
    font-size: 16px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.cont {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 6px;
}
footer{
    background-color: #AF1B3A;
}
.img8{
    height: 300px;
    width:300px;
    border-radius:50%;
}
.img7{
    border-radius:50%;
}


footer{
    background-color: #AF1B3A;
    color:white;
}

h4{
    font-size:22px;
}

.bar{
    height :100px;
    width:100px;
}